body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    background: #10131c;
    transition: ease 1s;
    user-select: none;
}

ion-icon{
    pointer-events: none;
}


/* OSCURO */

.icono.oscuro{
    position: absolute;
    transition: ease 0.3s;
    height: 60px;
    width: 60px;
    color: #fff;
}

.reloj.oscuro{
    font-family: 'digital';
    color: #2dfc52;
    filter:drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 15px #2dfc52);

}

.divreloj.oscuro{
    height: 70px;
    width: 70px;
    background-color: #212532;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 1s;
    border-radius: 10px;
}

.divreloj.desactivado.oscuro{
    box-shadow: 0 0 10px 3px #5b5e69;
}

.divreloj.desactivado.oscuro:hover{
    transition: ease 0.5s;
    box-shadow: 0 0 50px 0.5px #2dfc52;
}

.divreloj.activo.oscuro{
    box-shadow:inset 0 0 5px 2px #5b5e69;
}

.divreloj.activo.oscuro:hover{
    box-shadow:inset 0 0 15px 3px #5b5e69;
}



/* CLARO */

.icono.claro{
    position: absolute;
    transition: ease 0.3s;
    height: 60px;
    width: 60px;
    color: rgb(141, 137, 130);
}

.reloj.claro{
    user-select: none;
    font-family: 'digital';
    color: #82c7ff;
    filter:drop-shadow(0 0 1px #82c7ff) drop-shadow(0 0 5px #82c7ff); 
}

.divreloj.claro{
    height: 70px;
    width: 70px;
    background-color:  rgb(248, 219, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 1s;
    border-radius: 10px;
}

.divreloj.desactivado.claro{
    box-shadow: 0 0 10px 3px #ffffff;
}

.divreloj.desactivado.claro:hover{
    transition: ease 0.5s;
    box-shadow: 0 0 50px 0.5px #82c7ff;
}

.divreloj.activo.claro{
    box-shadow:inset 0 0 10px 2px #ffffff;
}

.divreloj.activo.claro:hover{
    box-shadow:inset 0 0 20px 4px #ffffff;
}


.reloj{
    font-size: 0px;
    transition: ease 0.3s;
}



/* ALERTA */

.alerta.oscuro{
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: white;
    height: 100px;
    width: 220px;
    background-color: #212532;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'minimal';
    padding-left: 25px;
    transition: ease 1s;
    box-shadow: 0 0 10px 3px #5b5e69;
    visibility: hidden;
    opacity: 0;
}

.alerta.apartar{
    right:-1000px;
}


.alerta.oscuro:hover{
    box-shadow: 0 0 25px 1px #2dfc52;
}

.alerta.claro{
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: rgb(58, 56, 54);
    height: 100px;
    width: 220px;
    background-color: rgb(248, 219, 156);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'minimal';
    padding-left: 25px;
    transition: ease 1s;
    box-shadow: 0 0 10px 3px #ffffff;
    visibility: hidden;
    opacity: 0;
}

.alerta.claro:hover{
    box-shadow: 0 0 25px 1px #82c7ff;
}


.cerrar{
    transition: ease 0.5s;
    position: absolute;
    left: 87%;
    top: 10%;
}

.cerrar:hover{
    color: red;
}





/* FUENTES */

@font-face {
    font-family: 'digital';
    src: url('DS-DIGI.TTF') format('truetype');
}
@font-face {
    font-family: 'minimal';
    src: url('Metropolis-Thin.otf') format('truetype');
}